* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    background: url("cool-background.png");
    background-size: cover;
    background-position: center top;   
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
}

.personalia {
    background-color: #fff;
    height: 150px;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 20%;
    margin-bottom: 50px;
}

.name {
    margin-left: auto;
}

.container {
    height: 10em;
    position: relative;
}

.logo {
    width: 150px;
    height: 150px;
    object-fit: scale-down;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

h2 {
    padding-bottom: 10px;
}

.cv-list {
    position: relative;
    right: 0;
    padding: 0 15% 0 15%;
}

.photo {
    width: 150px;
    height: 150px;
}

.cv {
    padding: 12px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid #000 2px;
    box-shadow: 0px 1px 1px 1px #000;
}

.cv-header {
    color: #fff;
}

header {
    font-size: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    text-align: center;
    width: 120px;
    float: left;
    margin-right: 5px;
    background-color: #b4e5ff;
    margin-top: 5px;
    border-radius: 40px;
    font-size: small;
}

.contact {
    background-color: #fff;
    margin-top: 50px;
    padding: 10px;
    font-size: 40px;
    flex: 1;
}

.contact a:link, .contact a:visited {
    color: #000;
}

.contact a:hover {
    color: #4b4b4b;
}